<p>&nbsp;</p>
<table style="width: 1498px; background-color: #f7f79e; margin-left: auto; margin-right: auto;" border="0">
<tbody>
<tr style="height: 73px;">
<td style="width: 400px; height: 73px;">
<h1><strong>Apteka - zdrowie</strong></h1>
</td>
<td style="width: 791.833px; height: 73px;">&nbsp;</td>
<td style="width: 274.167px; height: 73px;">&nbsp;</td>
</tr>
<tr style="height: 62px;">
<td style="width: 400px; height: 62px; text-align: left;">MENU</td>
<td style="width: 791.833px; height: 62px;">LINK("strona gł&oacute;wna")</td>
<td style="width: 274.167px; height: 62px;">Koszyk </td>
</tr>
<tr style="height: 302.467px;">
<td style="width: 400px; height: 302.467px;">&nbsp;</td>
<td style="width: 791.833px; height: 302.467px;"><table>{% for produkt in produkty %}<tr><td>{{produkt}}</td></tr>{% endfor %} </table>
</td>
<td style="width: 274.167px; height: 302.467px;">
<table style="width: 141.317px; border-color: black; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 131.317px; text-align: center; height: 18px;">WYSZUKIWANIE</td>
</tr>
<tr style="height: 18px;">
<td style="width: 131.317px; text-align: center; height: 18px;">[POLE TEKSTOWE]</td>
</tr>
<tr style="height: 45.5667px;">
<td style="text-align: center; width: 131.317px; height: 45.5667px;">WYSZUKAJ</td>
</tr>
<tr style="height: 107px;">
<td style="text-align: center; width: 131.317px; height: 107px;">
<p>-wynik1</p>
<p>-wynik2</p>
<p>-wynik3</p>
<p>-wynik4</p>
<p>-wynik5</p>
<p>-wynik6</p>
<p>-wynik7</p>
<p>-wynik8</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>